<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <h1>ポエム詳細</h1>
      <div class="row">
        <p>
          <strong>タイトル:</strong>
          <%= @poem.title %>
        </p>
        <p><%= @poem.content %></p>
      </div>
  </div>
</div>
